
<table id="email__top" width="100%" style="border-collapse:collapse;">

	<tr>

		<td style="font-size:14px; font-weight:bold; font-family:arial, sans-serif; padding:15px; text-align:right;">

			<ADDEMAR type='link' name='link--view_in_browser' href='http://' style="color:#323232; text-decoration:none;">View in Browser</ADDEMAR>
		</td>
	</tr>
</table>





<table id="email__footer" width="100%" style="border-collapse:collapse;">

	<tr>

		<td>

			<table id="email__footer__inner-wrapper" width="100%" style="border-collapse:collapse;">

				<tr>

					<td colspan="2" width="100%" height="16" style="background:#a7dbd2;"></td>
				</tr>


				<tr>

					<td colspan="2" width="100%" height="20"></td>
				</tr>


				<tr>

					<td width="61.5%" style="padding:0 10px 15px;">
						<ADDEMAR type="image" name="email__footer__logo" src="<?add_userdata?>/Image/Ansell__No_Sweat_2015/logo.jpg" width="115" height="60"/>
							<!-- <img name="email__footer__logo" src="images/logo.jpg" width="115" height="60"> -->
						</td>


						<td rowspan="2" width="38.5%" style="border-left:3px solid #ebedf3; vertical-align:middle; text-align:center;">

							<ADDEMAR type="texteditor_full" name="email__footer__social-links">

								<img name="email__footer__facebook" src="<?add_userdata?>/Image/Ansell__No_Sweat_2015/icon--facebook.jpg" width="30" height="30">
								<!-- <img name="email__footer__facebook" src="images/icon--facebook.jpg" width="30" height="30"> -->

								<img name="email__footer__twitter" src="<?add_userdata?>/Image/Ansell__No_Sweat_2015/icon--twitter.jpg" width="30" height="30">
								<!-- <img name="email__footer__twitter" src="images/icon--twitter.jpg" width="30" height="30"> -->

								<img name="email__footer__linkedin" src="<?add_userdata?>/Image/Ansell__No_Sweat_2015/icon--linkedin.jpg" width="30" height="30">
								<!-- <img name="email__footer__linkedin" src="images/icon--linkedin.jpg" width="30" height="30"> -->
							</ADDEMAR>
						</td>
					</tr>


					<tr>

						<td width="61.5%" style="font-family:'calibri', helvetica, arial, sans-serif; padding:0 20px;">

							<ADDEMAR type='texteditor_full' name='footer__body' style="color:#212532; font-size:16px; font-weight:bold;">

								<div>
									© Ansell Ltd<br/>
									Ansell Healthcare Europe NV<br/>
									Bld. Internationalelaan 55, B-1070 Brussels, Belgium<br/> 
									www.tripleactivegel.com <br/> 
									info@ansell.com <br/>
								</div>
							</ADDEMAR>
						</td>
					</tr>


					<tr>

						<td colspan="2" width="100%" height="20"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>