         <addemar type="list" name="Logos" category="Logo-images">
                                                        <addemar type="listitem" name="Single_Image">
                                                            <table bgcolor="<ADDEMARSTYLE type='color' name='Content_Background_Color' value='#FFFFFF' page='_General' />" width="100%" align="left" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                                                                <tr>
                                                                    <td bgcolor="<ADDEMARSTYLE type='color' iteration='true' name='Block_Content_Background_Color' value='' />">
                                                                        <table width="100%" align="left" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                                                                            <tr>
                                                                                <td height="30"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" class="devicewidth">
																				<addemar type="image" name="logo1" page="Articles" href="" target="_blank" src="http://ansell.fb.email.addemar.com/files/a_ansell/data/Image/Ansell_Micro_Flex/Logo_Micro_Flex.jpg" alt="" width="244" height="" style="display:block; border:none; outline:none;" ></addemar>
																			</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10"></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </addemar>
                                                        <addemar type="listitem" name="Single_Image">
                                                            <table bgcolor="<ADDEMARSTYLE type='color' name='Content_Background_Color' value='#FFFFFF' page='_General' />" width="100%" align="left" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                                                                <tr>
                                                                    <td bgcolor="<ADDEMARSTYLE type='color' iteration='true' name='Block_Content_Background_Color' value='' />">
                                                                        <table width="100%" align="left" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                                                                           
                                                                            <tr>
                                                                               <td align="left" class="devicewidth">
																				<addemar type="image" name="logo2" page="Articles" href="" target="_blank" src="http://ansell.fb.email.addemar.com/files/a_ansell/data/Image/Ansell_Micro_Flex/Logo_TouchNTuff.jpg" alt="" width="244" height="" style="display:block; border:none; outline:none;"></addemar>
																				
																			</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="27"></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </addemar>
														</addemar>